<html lang="ru">
    <head>
        <title>Главная</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <div id="login-block">
                <form id="login-form" action="/login" method="POST">
                    {% csrf_token %}
                    {{ login_form }}
                    <input type="submit" value="Войти">
                </form>
            </div>
            <div id="signup-block">
                <form id="signup-form" action="/signup" method="POST">
                    {% csrf_token %}
                    {{ signup_form }}
                    <input type="submit" value="Войти">
                </form>
            </div>
            <script src="/static/index.js"></script>
        </main>
    </body>
</html>