MAIN {
    padding-top: 100px;
}

DIV#form-container {
    width: 40%;
    float: left;
}

DIV#issue-container {
    width: 60%;
    flex-direction: column;
    float: left;
}

INPUT {
    width: 100% !important;
}

.issue {
    width: 500px;
    text-align: center;
}

.issue > .pet-name, .user-login {
    width: 400px;
    text-align: left;
    font-size: 18pt;
    display: block;
    float: left;
}

.issue > .issue-status {
    width: 350px;
    text-align: left;
    font-size: 18pt;
    display: block;
    float: left;
}

.issue > .issue-divider {
    width: 500px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    background: var(--accent-color);
    display: block;
    float: left;
}

.issue > .pet-edit {
    width: 150px;
}

DIV#create-issue {
    width: 60%;
    float: left;
    top: 200px;
    right: 20px;
    opacity: 0.2;
}

#pet-photo-current {
    width: 200px;
}