* {
    --primary-color: #FFAA00;
    --accent-color: #FFAA00;
    --text-color: #000000;
    --secondary-color: #FFFFFF;
}

HTML, BODY {
    margin: 0px;
    padding: 0px;
    background: var(--secondary-color)
}

BUTTON {
    background: var(--secondary-color);
    color: var(--text-color);
    font-size: 16pt;
    padding: 7px 12px 7px 12px;
    border-radius: 20px 5px 20px 5px;
    box-shadow: 0px 0px 5px black;
}

HEADER {
    width: 98%;
    padding: 1%;
    background: var(--accent-color);
    color: var(--secondary-color);
    text-shadow: 0px 0px 10px black;
    font-size: 22pt;
    box-shadow: 0px 0px 10px black;
}

MAIN {
    width: 96%;
    padding: 2%;
}