MAIN {
    padding-top: 100px;
}

DIV#form-container {
    width: 40%;
    float: left;
}

DIV#issue-container {
    flex-direction: column;
}

DIV#issue-container.workplace {
    width: 60%;
    float: left;
}

INPUT {
    width: 100% !important;
}

.issue {
    width: 500px;
    text-align: center;
}

.issue > .pet-name {
    width: 400px;
    text-align: left;
    font-size: 18pt;
    display: block;
    float: left;
}

.issue > .issue-status {
    width: 400px;
    text-align: left;
    font-size: 18pt;
    display: block;
    float: left;
}

.issue > .pet-photo {
    width: 200px;
}

.issue > .result-photo {
    width: 200px;
}

.issue > .issue-divider {
    width: 500px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5px;
    background: var(--accent-color);
}

DIV#create-issue {
    width: 60%;
    float: left;
    top: 200px;
    right: 20px;
}