{% extends 'base.html' %}
{% block page_title %}
    Панель администрирования
{% endblock %}
{% block meta %}
    <link rel="stylesheet" href="/static/groom.css?1"/>
{% endblock %}
{% block content %}
    <div id="issue-container" class="container">
    {% if issues_count == 0 %}
        <span class="no-issues">Нет заявок.</span>
    {% else %}
        {% for i in issues %}
            <div class="issue">
                <span class="user-login">Заявка от {{ i.user.bio.last_name }} {{ i.user.bio.first_name }} {{ i.user.bio.patronymic }}</span>
                <span class="pet-name">Питомец {{ i.name }}</span>
                <span class="issue-status">Статус заявки:
                    {% if i.status == 0 %}
                        создана
                    {% elif i.status == 1 %}
                        обработка данных
                    {% else %}
                        услуга оказана
                    {% endif %}
                </span>
                <button class="pet-edit" onclick="edit('{{ i.id }}')">Изменить</button>
                <div class="issue-divider"></div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <div id="form-container" class="container">
        <div id="create-issue" class="form">
            <span id="user" class="user-login"></span>
            <label for="pet-name">Кличка питомца: </label>
            <input
                id="pet-name"
                name="name"
                type="text"
                minlength="{{ pet_name_min }}"
                maxlength="{{ pet_name_max }}"
                required/>
            <label for="pet-photo-current">Фото питомца:</label>
            <img id="pet-photo-current" src=""/>
            <label for="result-photo">Фото результата:</label>
            <input
                id="result-photo"
                name="photo"
                type="file"
                required/>
            <select
                id="issue-status"
                name="status">
                <option value="0">Создана</option>
                <option value="1">Обработка данных</option>
                <option value="2">Услуга оказана</option>
            </select>
            <button onclick="save_issue()">Сохранить</button>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="/static/groom.js"></script>
{% endblock %}